{% extends "layout.html" %}

{% block content %} 
    <div class="content-section p-3 mx-auto col-4">
        <div class="media">
            <img  class="rounded-circle account-img" src="{{ image_file }}" alt="image">
            <div class="media-body">
                <h2 class="account-heading text-info">{{ current_user.username }}</h2>
                <p class="text-secondary text-info">{{ current_user.email }}</p>
            </div>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-info">Edit Profile</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label text-info") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control is-invalid") }}
                        <div class="invalid-feeback">
                            {% for error in form.username.errors%}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control") }}    
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label text-info") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control is-invalid") }}
                        <div class="invalid-feeback">
                            {% for error in form.email.errors%}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control") }}    
                    {% endif %}
                </div>
                 <div>
                <p class="text-danger">
                    <a href="{{ url_for('users.reset_request') }}">Change your password</a>
                </p>
                </div>
                <div class="form-group">
                    {{ form.picture.label(class="text-info") }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors%}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>
    </div>
{% endblock content %}