{% extends "layout.html" %}

{% block content %} 
<div class='container h-25 p-3'> 
    <div class="row">
        {% for book in results %}
            <div class="card-deck col-sm-4 mx-auto mb-4">
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <h4 class="card-title text-info">{{book.title}}</h4>
                        <p class="card-text text-info">by {{book.author}}, {{book.year}}</p>
                        <a href="{{ url_for('book', book_id=book.id) }}" class="btn btn-danger">See more</a>  
                    </div>
                </div>   
            </div>
        {% endfor %}
    </div>   
</div>  
{% endblock content %}